<%
# param @post 
# param @url - url to mp4
%>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline'"> 
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable"  content="yes"   />
    <meta  name="apple-mobile-web-app-status-bar-style"  content="black" />
    <script>
    		var VIDEO_URL = "<%=@url%>";
            var VIDEO_OPTIONS=<%=raw(@urls.to_json)%>;

             var svgPath = "/xassets/vendor/webplayer/images/";
    </script>
    <title>Wevr Player</title>
    <link rel="stylesheet" href="/xassets/fonts/wevr-larsseit/font.css">
    <%=cssfile("/xassets/vendor/webplayer/css/styles.css")%>
</head>
<body>

    <div style="display:none">
        <video id="video"   preload="auto" crossorigin="anonymous" webkit-playsinline ></video>
    </div>
    <div id="notSupportedMessage" style="display:none;padding:40px">
        <p>Playback on this device is not supported. Please visit wevrtransport.com for a full list of supported platforms and devices.</p>
    </div>



    <div id="container">
        <div id="player_controls" class="control"> </div>
    </div>

  <div id="lowerScreen" class="lowerScreen"></div>


     <%=jsfile("/xassets/vendor/webplayer/libs/three.js.r73/three.js")%>
     <%=jsfile("/xassets/vendor/webplayer/libs/three.js.r73/OrbitControls.js")%>
     <%=jsfile("/xassets/vendor/webplayer/libs/three.js.r73/VREffect.js")%>
     <%=jsfile("/xassets/vendor/webplayer/libs/three.js.r73/VRControls.js")%>
     <%=jsfile("/xassets/vendor/webplayer/libs/requestAnimationFrame/RequestAnimationFrame.js")%>
     <%=jsfile("/xassets/vendor/webplayer/libs/webVrManager/Promise.min.js")%>
     <%=jsfile("/xassets/vendor/webplayer/libs/webVrManager/webvr-polyfill.js")%>
     <%=jsfile("/xassets/vendor/webplayer/libs/webVrManager/webvr-manager.js")%>
     <%=jsfile("/xassets/vendor/webplayer/js/wevr.js")%>
     <%=jsfile("/xassets/vendor/webplayer/js/player.js")%>
     <%=jsfile("/xassets/vendor/webplayer/js/app.js")%>
     

</body>
</html>


